body  {
    background-image: url("../img/sdsd.jpg");
    background-color: #cccccc;
    background-repeat: repeat-y;
    background-size: contain;
  }

.font-size
{
    font-size: 18px;
    font-family: 'Kufam', sans-serif;
}
.imgcarousel
{
  
    max-height: 30rem;
}
.font-color
{
    color: white;
   
}
.background
{
    margin-left: 1rem;
    margin-right: auto;
    background-color: rgb(0, 0, 0, 0.5);
}
.contener
{
 margin-left: 10rem;
 margin-right: 10rem;
}
.pad
{
    padding-top: 40px;
    padding-bottom: 20px;
}
.text-center
{
    text-align: center;
}
.juegos
{
    margin-top: 10px;
}
.centercard
{
 margin-left: auto;
 margin-right: auto;
}

.imgblog
{
   max-width: 30rem;
    max-height: 30rem;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.solid {
    border-style: solid;
    border-width: thin;
    border-color: rgb(255, 194, 26);
}
#games::after
{
    content: "";
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 3px;
    background-color: #cccccc;    
}