body  {
    background-image: url("../img/Imagesnes/sdsd.jpg");
    background-color: #cccccc;
    background-repeat: repeat-y;
    background-size: contain;
  }
 

.font-size
{
    font-size: 18px;
    font-family: 'Kufam', sans-serif;
}
.imgcarousel
{
  
    max-height: 66rem;
}
.font-color
{
    color: white;
   
}
.background
{
    margin-left: 1rem;
    margin-right: auto;
    background-color: rgb(0, 0, 0, 0.5);
}
.contener
{
 margin-left: 10rem;
 margin-right: 10rem;
}
.pad
{
    padding-top: 40px;
    padding-bottom: 20px;
}
.text-center
{
    text-align: center;
}
.juegos
{
    margin-top: 10px;
}
.centercard
{
 margin-left: auto;
 margin-right: auto;
}

.centerfade{
    background-color: rgb(0, 0, 0, 0.8);
}

.contacttextt{
    color: rgb(8, 8, 8);
}

.cardwidth{
    width: 18rem;
}

.imgblog
{
   max-width: 30rem;
    max-height: 30rem;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.solid {
    border-style: solid;
    border-width: thin;
    border-color: rgb(255, 194, 26);
}
#afffff:hover {
    background-color: blue;
  }
#games::after
{
    
    content: "";
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 3px;
    background-color: white;    
}
#blog::after
{
    
    content: "";
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 3px;
    background-color: white;    
}
#about::after
{
    
    content: "";
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 3px;
    background-color: white;    
}
#contact::after
{
    
    content: "";
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 3px;
    background-color: white;    
}
.pad2
{
    padding-top: 60px;
    padding-bottom: 80px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.color1
{
    background-color: rgb(255, 195, 31)
}
#persona:hover
{
    background-color: rgb(255, 0, 0);
    color: white;
}
#racrew:hover
{
    background-color: rgb(255, 0, 179);
    color: white;
}
#mm:hover
{
    background-color: rgb(183, 0, 255);
    color: white;
}
#virus:hover
{
    background-color: rgb(34, 0, 54);
    color: white;
}
#jmrg:hover
{
    background-color: rgb(35, 0, 131);
    color: white;
}
#stitches:hover
{
    background-color: rgb(255, 102, 0);
    color: white;
}
